.navbar-container{
    background-color: black;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    
}
.logo{
    width: 50%;
}
.cart{
    color: white;
    font-size: 2.5rem;
}
@media screen and (max-width:500px) {
    .navbar-container{
        padding: 1rem 3rem;
    }

}
@media screen and (max-width:400px) {
    .navbar-container{
        padding: 1rem 2rem;
    }

}