.navbar-container{
    background-color: black;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    
}
.logo{
    width: 20%;
}
.cart{
    color: white;
    font-size: 2.5rem;
}