@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Tilt+Warp&family=Work+Sans:wght@400;900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container{
  display: grid;
  grid-template-columns: 1.5fr 6fr;
}
